@font-face {
  font-family: 'iconfont';  /* Project id 1910265 */
  src: url('//at.alicdn.com/t/font_1910265_gqex9etshwq.woff2?t=1619746896281') format('woff2'),
       url('//at.alicdn.com/t/font_1910265_gqex9etshwq.woff?t=1619746896281') format('woff'),
       url('//at.alicdn.com/t/font_1910265_gqex9etshwq.ttf?t=1619746896281') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Apps:before {
  content: "\eb57";
}

.icon-baodao:before {
  content: "\e6a5";
}

.icon-feidan:before {
  content: "\e6a4";
}

